default_config:
logger:
  default: error
  logs:
    custom_components.myhomeserver1: debug

myhomeserver1:
  host: REDACTED
  port: REDACTED
  password: REDACTED


light:
- platform: myhomeserver1
  devices:
    - name: REDACTED
      address: '02'
